.banner{
    background-image: url(../../assets/img/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat
    ;
    height: 797px;
    border-bottom: 10px solid black;
    /*             espessura / solido / cor da borda */
    
}

.banner .wrapper.-banner{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.banner .box.-banner{
    margin-bottom: 38px;
}
.banner .navigation{
    display:flex;
    justify-content: space-around;
    margin-left: 50px;

}