.button-arrow{
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 0px #000;
    background-color: #77BA99;
    cursor: pointer;
    
}

.button-arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 20px solid transparent;
    border-left: 25px solid white;
    transform: translate(5px);
}
.button-arrow.-left::before{
    transform: rotate(180deg) translate(16px);

}
.button-arrow .content{
    display: none;
}