.main-section{
    background-color: #9C528B;
    border-bottom: 10px solid black;
    
}
.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-project{
    background-color: #262730;
    display: flex;
    flex-direction: column;
    height: 400px;
}