.main-banner{
    background-image: url(../../assets/img/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat
    ;
    height: 797px;
    border-bottom: 10px solid black;
    /*             espessura / solido / cor da borda */
    
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.main-banner .main-box{
    margin-bottom: 38px;
}
.main-banner .navigation{
    display:flex;
    justify-content: space-around;
    margin-left: 50px;

}