.main-caroucel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    

}
.main-caroucel::after{
    content: '';
    left: 0px;
    top: 33px;
    height: 5px;
    width: 100%;
    background-color: #000;
    position: absolute;
}

.main-caroucel .button-arrow{
    position: absolute;
    bottom: 70px;   
}

.main-caroucel .button-arrow.-left{
    left: 15px;
}

.main-caroucel .button-arrow.-right{
    right: 15px;
}

.main-caroucel .items {    
    width: 100%;    
    overflow: hidden;
}

.main-caroucel .elements{
    display: flex;
    justify-content: space-between;
    transition: transform 100ms linear;
}