.main-title {
    color: #9C528B; 
    font-size: 38px;   
    font-family: 'Ubuntu', sans-serif;      
    text-shadow: 4px 4px 0px #000;
    
}
.main-title.-second{
    color: white;
    text-align: center;
    text-shadow: none;
    font-family: 'Press Start 2P', cursive;
    padding-top: 50px;
}
.subtitle {
    color: #9C528B;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 3px 3px 0px #000;
    font-size: xx-large;
}
