.main-box{
    display: inline-block;
    background-color: #D7C0D0;
    box-shadow: 12px 12px 0px #77BA99;
    margin-left: 91px;
    text-align: center;   
    vertical-align: middle; 
    padding: 60px  100px;
    margin-top: 116px;
    margin-left: 91px;
    
}
.main-box .main-title{
    margin-bottom: 28px;

}
/* usamos um id e depois uma tag para apenas adicionar um comportamento para o h1*/