#cartel{
    color: #9C528B; 
    font-size:xxx-large;   
    background-color: #D7C0D0;
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    padding: 73.6px 176px;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 12px 12px 0px #77BA99;      
    text-shadow: 4px 4px 0px #000;
}