.title{
    color: #9C528B; 
    font-size: 38px;   
    font-family: 'Ubuntu', sans-serif;      
    text-shadow: 4px 4px 0px #000;
    
}
h2{
    color: #9C528B;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 3px 3px 0px #000;
    font-size: xx-large;
}